<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>COVID-19 Bulandshahr</title>

    <script href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>

</head>


<body >
  <br>


<div class="container" style="margin-top: 25px;">
  <p align="center" style="font-size: 30px;" ><b> <b>District Bulandshahr COVID-19 Dashboard</b></b></p>
  <p align="center" style="margin-top: -20px;" id="dashboard"></p>
  <br>

<div class="row" style="margin-left: 4px;">

<div style="margin-left: 30px;">

  <div class="card bg-light mb-3" style="width: 15rem;">
  <div class="card-header text-danger " align="center" style="font-size: 20px;" ><b>Confirmed</b></div>
  <div class="card-body text-danger ">
    <h4 class="card-title" align="center" id="1"><b></b></h4>
    <p class="card-text" align="center"  id="2"><b></b></p>
  </div>
</div>


</div>

<div style="margin-left: 30px;">

  <div class="card bg-light mb-3" style="width: 15rem;">
  <div class="card-header text-primary " align="center" style="font-size: 20px;" ><b>Active</b></div>
  <div class="card-body text-primary ">
    <h4 class="card-title" align="center" id="3" ><b></b></h4>
    <p class="card-text" align="center" id="4" ><b></b></p>
  </div>
</div>

</div>


<div style="margin-left: 30px;">

  <div class="card bg-light mb-3" style="width: 15rem;">
  <div class="card-header text-success " align="center" style="font-size: 20px;" ><b>Recovered</b></div>
  <div class="card-body text-success ">
    <h4 class="card-title" align="center" id="5" ><b></b></h4>
    <p class="card-text" align="center" id="6" ><b></b></p>
  </div>
</div>


</div>

<div style="margin-left: 30px;">

<div class="card bg-light mb-3" style="width: 15rem;">
  <div class="card-header" align="center" style="font-size: 20px;" ><b>Deceased</b></div>
  <div class="card-body">
    <h4 class="card-title" align="center" id="7" ><b></b></h4>
    <p class="card-text" align="center" id="8" ><b></b></p>
  </div>
</div>

</div>

</div>

</div>

<div class="container" style="margin-top: 60px;">
  
    <div class="row">

      <div style="width: 550px">
        <p align="center" style="font-size: 20px;" ><b> Total Coronavirus Cases</b></p>
        <canvas id="TotalChart"></canvas>
      </div>
      <br>
      <br>

      <div class="mx-3" style="width: 550px;">
        <p align="center" style="font-size: 20px;" ><b> Active Coronavirus Cases</b></p>
        <canvas id="ActiveChart"></canvas>
      </div>

    </div>


    <div class="row" style="margin-top: 60px;">

      <div style="width: 550px">
        <p align="center" style="font-size: 20px;" ><b>New Cases vs. New Recoveries</b></p>
        <canvas id="Comparision1"></canvas>
      </div>
      <br>
      <br>

      <div class="mx-3" style="width: 550px">
        <p align="center" style="font-size: 20px;" ><b>New Deaths vs. New Recoveries</b></p>
        <canvas id="Comparision2"></canvas>
      </div>

    </div>

</div>

<div class="container" style="margin-top: 60px;" >
  <p align="center" style="font-size: 20px;" ><b>Date Wise Data of Covid 19 Cases in District Bulandshahr*</b></p>

    <br>

          <table id="DataTable" class="display" style="width:100%">
         <thead>
            <tr>
                <th>Date</th>
               <th>Confirmed</th>
               <th>Active</th>
               <th>Recovered</th>
               <th>Deceased</th>
            </tr>

         </thead>
         <tbody id="TableId">

         </tbody>
         <tfoot>
            <tr>   
               <th>Date</th>
               <th>Confirmed</th>
               <th>Active</th>
               <th>Recovered</th>
               <th>Deceased</th>
             </tr>

         </tfoot>
      </table>
      <br>

      <p align="center" style="margin-top: -10px">* We started tracking data from 1 May.</p>
      <p align="center" style="margin-top: -18px">* Data may vary according to sources.</p>
      <p align="center" style="font-size: 30px;" ><b>STAY HOME STAY SAFE</b></p>
</div>









<script>

 // extract the data of Date

  var date='{{datas.Tdate}}'
  date=date.split(",")
  for(var i=0;i<date.length;i++){
      var temp=date[i]
      temp=temp.split(";")
      temp=temp[1]
      temp=temp.split("&")
      temp=temp[0]
      date[i]=temp
  }

  // extract the data of Confirmed cases

  var total='{{datas.Ttotal}}'
  total=total.split("[")
  total=total[1].split("]")
  total=total[0].split(",")
  for(var i=0;i<total.length;i++){
    total[i]=parseInt(total[i])
  }

  // extract the data of Recovered cases

  var recovered='{{datas.Trecovered}}'
  recovered=recovered.split("[")
  recovered=recovered[1].split("]")
  recovered=recovered[0].split(",")
  for(var i=0;i<recovered.length;i++){
    recovered[i]=parseInt(recovered[i])
  }

  // extract the data of Active cases

  var active='{{datas.Tactive}}'
  active=active.split("[")
  active=active[1].split("]")
  active=active[0].split(",")
  for(var i=0;i<active.length;i++){
    active[i]=parseInt(active[i])
  }

  // extract the data of Deceased cases

  var deceased='{{datas.Tdeceased}}'
  deceased=deceased.split("[")
  deceased=deceased[1].split("]")
  deceased=deceased[0].split(",")
  for(var i=0;i<deceased.length;i++){
    deceased[i]=parseInt(deceased[i])
  }

  //remove the 2020 from date for label

  var LabelDate=[]
  for(var i=0;i<date.length;i++){
      var temp=date[i]
      temp=temp.split("-")
      temp=temp[0]+"/"+temp[1]
      LabelDate.push(temp)
  }


  //code to insert the data inside boxes

  //length of data
  var len=total.length

  //DOM for total
  document.getElementById("1").innerHTML=total[len-1]
  document.getElementById("2").innerHTML="+"+(total[len-1]-total[len-2])

  //DOM for Active
  document.getElementById("3").innerHTML=active[len-1]
  var TempActive=active[len-1]-active[len-2]
  if(TempActive<0){
    document.getElementById("4").innerHTML=TempActive
  }else{
    document.getElementById("4").innerHTML="+"+TempActive
  }
  

  //DOM for Recovered
  document.getElementById("5").innerHTML=recovered[len-1]
  document.getElementById("6").innerHTML="+"+(recovered[len-1]-recovered[len-2])

  //DOM for Deceased
  document.getElementById("7").innerHTML=deceased[len-1]
  document.getElementById("8").innerHTML="+"+(deceased[len-1]-deceased[len-2])

  //Insert the Data in Table
  var TableData=""
  for(var i=len-1;i>=0;i--){

    if(i==0){

      TableData=TableData + "<tr>"
      TableData=TableData + "<td>" + date[i] + "</td>"
      TableData=TableData + "<td>" + total[i] + "</td>"
      TableData=TableData + "<td>" + active[i] + "</td>"
      TableData=TableData + "<td>" + recovered[i] + "</td>"
      TableData=TableData + "<td>" + deceased[i] + "</td>"
      TableData=TableData + "</tr>"

    }else{

      TableData=TableData + "<tr>"
      TableData=TableData + "<td>" + date[i] + "</td>"
      TableData=TableData + "<td>" + total[i] + " (+" + (total[i]-total[i-1]) + ")" + "</td>"

      var TempActive2=active[i]-active[i-1]
      if(TempActive2<0){
        TableData=TableData + "<td>" + active[i] + " (" + TempActive2 + ")" + "</td>"
      }else{
        TableData=TableData + "<td>" + active[i] + " (+" + TempActive2 + ")" + "</td>"
      }

      TableData=TableData+"<td>"+recovered[i]+ " (+" + (recovered[i]-recovered[i-1]) + ")" + "</td>"
      TableData=TableData+"<td>"+deceased[i]+ " (+" + (deceased[i]-deceased[i-1]) + ")" + "</td>"
      TableData=TableData+"</tr>"

    }

  }
  document.getElementById("TableId").innerHTML=TableData

  //New cases data
  NewCases=[0]
  for(var i=1;i<len;i++){
      NewCases.push(total[i]-total[i-1])
  }

  //NewRecoveries
  NewRecoveries=[0]
  for(var i=1;i<len;i++){
      NewRecoveries.push(recovered[i]-recovered[i-1])
  }

  //NewDeath
  NewDeath=[0]
  for(var i=1;i<len;i++){
      NewDeath.push(deceased[i]-deceased[i-1])
  }

  //update as on: 
  document.getElementById("dashboard").innerHTML="as on: "+date[len-1] 


  var ctx = document.getElementById('Comparision2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: LabelDate,
        datasets: [
        {
            label: 'New Deaths',
            data: NewDeath,
            fill: false,
            backgroundColor:'rgba(103, 103, 103, 1)',
            borderColor: 'rgba(103, 103, 103, 1)',
            borderWidth: 1
        },
        {
            label: 'New Recoveries',
            data: NewRecoveries,
            fill: false,
            backgroundColor:'rgba(25,161,25,1)',
            borderColor: 'rgba(25,161,25, 1)',
            borderWidth: 1
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


var ctx = document.getElementById('Comparision1').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: LabelDate,
        datasets: [
        {
            label: 'New Cases',
            data: NewCases,
            fill: false,
            backgroundColor:'rgba(255, 0, 0, 1)',
            borderColor: 'rgba(255, 0, 0, 1)',
            borderWidth: 1
        },
        {
            label: 'New Recoveries',
            data: NewRecoveries,
            fill: false,
            backgroundColor:'rgba(25,161,25, 1)',
            borderColor: 'rgba(25,161,25, 1)',
            borderWidth: 1
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
      

var ctx = document.getElementById('TotalChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: LabelDate,
        datasets: [{
            label: 'Confirmed Cases',
            data: total,
            fill: false,
            backgroundColor:'rgba(255, 0, 0, 1)',
            borderColor: 'rgba(255, 0, 0, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var ctx = document.getElementById('ActiveChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: LabelDate,
        datasets: [{
            label: 'Active Cases',
            data: active,
            fill: false,
            backgroundColor:'rgba(54, 162, 235, 1)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});



</script>








<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
     <script>
        $(document).ready( function () {
             $('#DataTable').DataTable({"bSort" : false });

              });

    </script>



</body>
</html>